$orange : #f26c4f;
$grey-dark : #373737;
$grey-light:#474747;
$grey-ultraLight:#ebebeb;
$grey-font : #646464;
$white: #FFFFFF;

$stepSize1:640px;
$stepSize2:940px;



@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa-bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa-bold-webfont.woff') format('woff'),
         url('../fonts/nexa-bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa-light-webfont.woff2') format('woff2'),
         url('../fonts/nexa-light-webfont.woff') format('woff'),
         url('../fonts/nexa-light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
